:root {
  --minus-color: var(--color-blue-300, #a5c1ff);
}



#minus-core {
  stroke-width: 2;
  stroke: var(--minus-color);
  fill: var(--minus-color);
  transform-origin: center;

  transition: transform 0.4s ease-out;
}

#minus-box:hover #minus-core {
  transform: rotate(90deg);

  transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}

#arrow-bottom,
#arrow-top {
  stroke-dashoffset: 25;
  stroke-dasharray: 25;
  transition: stroke-dashoffset 0.4s ease-in-out 0.3s;
}

#minus-box:hover #arrow-bottom,
#minus-box:hover #arrow-top {
  stroke-dashoffset: 0;
}
